*{
  margin: 00px;
  padding: 00px;
  box-sizing: content-box;

}

.containerr {
  height: 100vh;
  width: 100%;

  /* align-items: center; */
  /* justify-content: center; */
  /* background-color: #e6ebe0; */
  /* flex-direction: row; */
  /* flex-flow: wrap; */

}
.all{
  background-color: #e6ebe0;
}
.font{
  height: 350px;
  width: 600px;
  position: relative;
  border-radius: 10px;
}

.top{
  height: 22%;
  width: 100%;
  background: #8338ec !important;
  position: relative;
  z-index: 5;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.bottom{
  height: 70%;
  width: 100%;
  background-color: white;
  position: absolute;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.top img{
  height: 100px;
  width: 100px;
  background-color: #e6ebe0;
  border-radius: 10px;
  position: absolute;
  top:60px;
  left: 75px;
}
.bottom p{
  position: relative;
  top: 60px;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 20px;
  text-emphasis: spacing;
}
.bottom .desi{
  font-size:12px;
  color: grey;
  font-weight: normal;
}
.bottom .no{
  font-size: 15px;
  font-weight: normal;
}
.barcode img
{
  height: 65px;
  width: 65px;
  text-align: center;
  margin: 5px;
}
.barcode{
  text-align: center;
  position: relative;
  top: 70px;
}

.back
{
  height: 375px;
  width: 250px;
  border-radius: 10px;
  background-color: #8338ec;

}
.qr img{
  height: 80px;
  width: 100%;
  margin: 20px;
  background-color: white;
}
.Details {
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 25px;
}


.details-info{
  color: white;
  text-align: left;
  padding: 5px;
  line-height: 20px;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
  line-height: 22px;
}

.logo {
  height: 40px;
  width: 150px;
  padding: 40px;
}

.logo img{
  height: 100%;
  width: 100%;
  color: white ;

}
.padding{
  background-color: #e6ebe0;

}

.btnRegister{
  float: right;
  margin-top: 10%;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  background: #0062cc;
  color: #fff;
  font-weight: 600;

  cursor: pointer;
}

@media screen and (max-width:400px)
{
  .container{
      height: 130vh;
  }
  .container .front{
      margin-top: 50px;
  }
}
@media screen and (max-width:600px)
{
  .container{
      height: 130vh;
  }
  .container .front{
      margin-top: 50px;
  }

}

.tp-box__front {
  /* background: green; */
  -webkit-transform : rotateY(0deg);
  -ms-transform     : rotateY(0deg);
  transform         : rotateY(0deg);
}
.tp-box__back {
 /* // background: green; */
  -webkit-transform : rotateY(-180deg);
  -ms-transform     : rotateY(-180deg);
  transform         : rotateY(-180deg);
}
.tp-box {
  position: relative;
  /* width: 630px; */
    /* height: 390px; */
  /* margin: 3rem auto; */
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform         : transform 1s;
      -ms-transform         : transform 1s;
          transform         : transform 1s;
}
.tp-box__side {
  width: 100%;
 height: 100%;
 position: absolute;
 display: flex;
 justify-content: center;
 justify-items: center;
 align-items: center;

 /* -webkit-backface-visibility: hidden; */
 backface-visibility: hidden;
/*  */
 /* text-align: center; */
 /* line-height: 100px; */
 /* font-size: 24px; */
 /* font-weight: 700; */
 cursor: pointer;
 -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
}
