<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="register card">
  <div class="row">
    <div class="col-md-3 register-left">
      <!-- <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" /> -->
    </div>
    <div class="col-md-9 register-right">
      <!-- <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link active"
            id="home-tab"
            data-toggle="tab"
            href="#home"
            role="tab"
            aria-controls="home"
            aria-selected="true"
            >Employee</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="profile-tab"
            data-toggle="tab"
            href="#profile"
            role="tab"
            aria-controls="profile"
            aria-selected="false"
            >Hirer</a
          >
        </li>
      </ul> -->
      <div class="tab-content" id="myTabContent">
        <form (ngSubmit)="createUser()" [formGroup]="userCreationForm">
          <div
            class="tab-pane fade show active"
            id="home"
            role="tabpanel"
            aria-labelledby="home-tab"
          >
            <h3 class="register-heading">Carte du Maroc</h3>
            <div class="row register-form">
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Nom *"
                    value=""
                    (keyup)="writeNameUser()"
                    formControlName="nom"
                    required
                    [class.is-invalid]="
                      userCreationForm.get('nom')?.invalid &&
                      userCreationForm.get('nom')?.touched
                    "
                  />

                  <!-- NOM VALIDATION -->
                  <div
                    *ngIf="
                      (userCreationForm.get('nom')?.invalid &&
                        userCreationForm.get('nom')?.touched) ||
                      userCreationForm.get('nom')?.dirty
                    "
                  >
                    <small
                      class="text-danger"
                      *ngIf="
                        userCreationForm.get(
                          'nom'
                        )?.errors?.['required']
                      "
                      >nom required</small
                    >
                    <small
                      class="text-danger"
                      *ngIf="
                        userCreationForm.get(
                          'nom'
                        )?.errors?.['nom']
                      "
                      >nom is invalid</small
                    >
                  </div>
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Prénom *"
                    value=""
                    (keyup)="writeLastNameUser()"
                    formControlName="prenom"
                    required
                    [class.is-invalid]="
                      userCreationForm.get('prenom')?.invalid &&
                      userCreationForm.get('prenom')?.touched
                    "
                  />
                  <!-- NOM VALIDATION -->
                  <div
                    *ngIf="
                      (userCreationForm.get('prenom')?.invalid &&
                        userCreationForm.get('prenom')?.touched) ||
                      userCreationForm.get('prenom')?.dirty
                    "
                  >
                    <small
                      class="text-danger"
                      *ngIf="
                        userCreationForm.get(
                          'prenom'
                        )?.errors?.['required']
                      "
                      >prenom required</small
                    >
                    <small
                      class="text-danger"
                      *ngIf="
                        userCreationForm.get(
                          'prenom'
                        )?.errors?.['prenom']
                      "
                      >prenom invalid</small
                    >
                  </div>
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Professin *"
                    value=""
                    (keyup)="writeProfessionUser()"
                    formControlName="profession"
                    required
                    [class.is-invalid]="
                      userCreationForm.get('profession')?.invalid &&
                      userCreationForm.get('profession')?.touched
                    "
                  />

                  <!-- NOM VALIDATION -->
                  <div
                    *ngIf="
                      (userCreationForm.get('profession')?.invalid &&
                        userCreationForm.get('profession')?.touched) ||
                      userCreationForm.get('profession')?.dirty
                    "
                  >
                    <small
                      class="text-danger"
                      *ngIf="
                        userCreationForm.get(
                          'profession'
                        )?.errors?.['required']
                      "
                      >profession required</small
                    >
                    <small
                      class="text-danger"
                      *ngIf="
                        userCreationForm.get(
                          'profession'
                        )?.errors?.['profession']
                      "
                      >profession invalid</small
                    >
                  </div>
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="CIN *"
                    value=""
                    (keyup)="writeCinUser()"
                    formControlName="cin"
                    required
                    [class.is-invalid]="
                      userCreationForm.get('cin')?.invalid &&
                      userCreationForm.get('cin')?.touched
                    "
                  />

                  <!-- NOM VALIDATION -->
                  <div
                    *ngIf="
                      (userCreationForm.get('cin')?.invalid &&
                        userCreationForm.get('cin')?.touched) ||
                      userCreationForm.get('cin')?.dirty
                    "
                  >
                    <small
                      class="text-danger"
                      *ngIf="
                        userCreationForm.get(
                          'cin'
                        )?.errors?.['required']
                      "
                      >cin required</small
                    >
                    <small
                      class="text-danger"
                      *ngIf="
                        userCreationForm.get(
                          'cin'
                        )?.errors?.['cin']
                      "
                      >cin invalid</small
                    >
                  </div>
                </div>
                <div class="form-group">
                  <div class="maxl">
                    <!-- <label class="radio inline">
                    <input type="radio" name="gender" value="male" checked />
                    <span> Male </span>
                  </label>
                  <label class="radio inline">
                    <input type="radio" name="gender" value="female" />
                    <span>Female </span>
                  </label> -->
                    <!--Avatar-->
                    <div>
                      <div class="d-flex">
                        <!-- <img src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg"
      class="rounded-circle" alt="example placeholder" style="width: 100px;" /> -->

                        <div class="d-flex justify-content-start">
                          <div
                            class="btn btn-primary btn-rounded bg-transparent border-0 text-bg-danger"
                          >
                            <label
                              class="form-label text-black"
                              for="customFile2"
                              >insere une image *

                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="50"
                                height="50"
                                fill="currentColor"
                                class="bi bi-image"
                                viewBox="0 0 16 16"
                              >
                                <path
                                  d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"
                                />
                                <path
                                  d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"
                                />
                              </svg>
                            </label>
                            <input
                              type="file"
                              class="form-control d-none"
                              id="customFile2"
                              (change)="addPictures($event)"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="* النسب "
                    (keyup)="writeArabicLNameUser()"
                    formControlName="nom_arabic"
                    required
                    [class.is-invalid]="
                      userCreationForm.get('nom_arabic')?.invalid &&
                      userCreationForm.get('nom_arabic')?.touched
                    "
                  />

                  <!-- NOM VALIDATION -->
                  <div
                    *ngIf="
                      (userCreationForm.get('nom_arabic')?.invalid &&
                        userCreationForm.get('nom_arabic')?.touched) ||
                      userCreationForm.get('nom_arabic')?.dirty
                    "
                  >
                    <small
                      class="text-danger"
                      *ngIf="
                        userCreationForm.get(
                          'nom_arabic'
                        )?.errors?.['required']
                      "
                      >النسب required</small
                    >
                    <small
                      class="text-danger"
                      *ngIf="
                        userCreationForm.get(
                          'nom_arabic'
                        )?.errors?.['nom_arabic']
                      "
                      >النسب is invalid</small
                    >
                  </div>
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="* الاسم الاول"
                    (keyup)="writeArabicfNameUser()"
                    formControlName="prenom_arabic"
                    required
                    [class.is-invalid]="
                      userCreationForm.get('prenom_arabic')?.invalid &&
                      userCreationForm.get('prenom_arabic')?.touched
                    "
                  />

                  <!-- NOM VALIDATION -->
                  <div
                    *ngIf="
                      (userCreationForm.get('prenom_arabic')?.invalid &&
                        userCreationForm.get('prenom_arabic')?.touched) ||
                      userCreationForm.get('prenom_arabic')?.dirty
                    "
                  >
                    <small
                      class="text-danger"
                      *ngIf="
                        userCreationForm.get(
                          'prenom_arabic'
                        )?.errors?.['required']
                      "
                      >الاسم الاول required</small
                    >
                    <small
                      class="text-danger"
                      *ngIf="
                        userCreationForm.get(
                          'prenom_arabic'
                        )?.errors?.['prenom_arabic']
                      "
                      >الاسم الاول is invalid</small
                    >
                  </div>
                </div>
                <div class="form-group">
                  <select class="form-control">
                    <option class="hidden" selected disabled>
                      Type de la carte :
                    </option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                  </select>
                </div>
                <div class="form-group">
                  <input
                    type="date"
                    class="form-control"
                    placeholder="Date de naissance *"
                    (keyup)="writeBirthdayUser()"
                    formControlName="birthday_date"
                    required
                    [class.is-invalid]="
                      userCreationForm.get('birthday_date')?.invalid &&
                      userCreationForm.get('birthday_date')?.touched
                    "
                  />

                  <!-- NOM VALIDATION -->
                  <div
                    *ngIf="
                      (userCreationForm.get('birthday_date')?.invalid &&
                        userCreationForm.get('birthday_date')?.touched) ||
                      userCreationForm.get('birthday_date')?.dirty
                    "
                  >
                    <small
                      class="text-danger"
                      *ngIf="
                        userCreationForm.get(
                          'birthday_date'
                        )?.errors?.['required']
                      "
                      >birthday date is required</small
                    >
                    <small
                      class="text-danger"
                      *ngIf="
                        userCreationForm.get(
                          'birthday_date'
                        )?.errors?.['birthday_date']
                      "
                      >birthday date is invalid</small
                    >
                  </div>
                </div>
                <input type="submit" class="btnRegister" value="Register" />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
